/*Background pattern from SubtlePatterns.com*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Content/BackgroundImages/footer_lodyas.png");
    background-repeat: repeat;
    background-color: #cccccc;
    background-size: 300px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    border: 1px solid #d4d6d8;
    box-shadow: -1px 1px #d4d6d8, -2px 2px #d4d6d8, -3px 3px #d4d6d8, -4px 4px #d4d6d8, -5px 5px #d4d6d8;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.filled-background {
    background: white;
    margin: auto;
}

.accordion-header {
    background-color: #CFC493;
    padding: 16px;
    font-weight: bold;
    color: #006747;
    height: 45px;
    /*margin: auto;*/
    /*box-shadow: -1px 1px #d8cea0, -2px 2px #d8cea0, -3px 3px #d8cea0, -4px 4px #d8cea0, -5px 5px #d8cea0;*/
    border: 2px solid #006747;
}

.accordion-item {
    background-color: #f2f1ed;
    color: #006747;
    padding: 8px;
    /*box-shadow: -1px 1px #d8cea0, -2px 2px #d8cea0, -3px 3px #d8cea0, -4px 4px #d8cea0, -5px 5px #d8cea0;*/
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    border: 1px solid #006747;
    border-top: 0;
}

    .accordion-item:hover {
        background-color: #d6d5d1;
    }

.btn-green {
    background-color: #006747;
    color: #CFC493;
    font-weight: bold;
    float: left;
    margin-right: 15px;
    display: inline-block;
    border-radius: 0;
    font-weight: bold;
    font-size: 0.678rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, rgba(#b2876f, 0) 25%, rgba(#b2876f, .8) 75%);
    background-position: 1% 50%;
    background-size: 400% 300%;
    border: 1px solid #b2876f;
}

.btn-green-submit {
    background-color: #006747;
    color: #CFC493;
    font-weight: bold;
    float: left;
    margin-right: 15px;
    display: inline-block;
    border-radius: 0;
    font-weight: bold;
    font-size: 1.078rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, rgba(#b2876f, 0) 25%, rgba(#b2876f, .8) 75%);
    background-position: 1% 50%;
    background-size: 400% 300%;
    border: 1px solid #b2876f;
    height: 30px;
    width: 100%;
    margin-top: 6px;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    color: #333333;
    background-color: #CFC493;
    border-color: black;
}

.btn-green-submit:hover,
.btn-green-submit:focus,
.btn-green-submit:active,
.btn-green-submit.active,
.open .dropdown-toggle.btn-green {
    color: #333333;
    background-color: #CFC493;
    border-color: black;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    background-image: none;
}

.text-input {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    width: 100%;
}
.green-header {
    color: #006747;
    font-family: "Times New Roman", 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
}

.green-text {
    color: #006747;
    font-family: "Times New Roman", 'Times New Roman', serif;
    font-weight: bold;
    font-size: 16px;
}

.entry-row{
    margin-top: 15px;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
