@model IEnumerable<GroupaBull.Models.Major>

@{
    ViewBag.Title = "AddCourse";
}

<h2 class="green-header">Add a Course</h2>
<div class="row entry-row text-danger" id="errorRow">
    <ul id="errors">
        
    </ul>
</div>
<div class="row entry-row">
    <div class="col-md-3">
        <div class="green-text">Select a major:</div>
        <select style="width: 100%" class="text-input" id="selectedMajor">
            <option value=""></option>
            @foreach (var item in Model)
            {
                <option value="@item.MajorId">@item.MajorName</option>
                }
        </select>
    </div>
    <div class="col-md-3">
        <div class="green-text">Or add a new one:</div>
        <input type="text" class="text-input" id="newMajor" />
    </div>
</div>

<div class="row entry-row">
    
</div>

<div class="row entry-row">
    <div class="col-md-3">
        <div class="green-text">Title: *</div>
        <input type="text" class="text-input" id="titleInput" />
    </div>
    <div class="col-md-3">
        <div class="green-text">Subject: *</div>
        <input type="text" class="text-input" placeholder="Ex: COP" id="subjectInput"/>
    </div>
    <div class="col-md-3">
        <div class="green-text">Subject Number: *</div>
        <input type="number" class="text-input" placeholder="Ex: 4200" id="numberInput"/>
    </div>
    <div class="col-md-3">
        <div class="green-text">Section Number: *</div>
        <input type="number" class="text-input" placeholder="Ex: 001" id="sectInput" />
    </div>
</div>

<div class="row entry-row">
    <div class="col-md-3">
        <div class="green-text">Instructor: *</div>
        <input type="text" class="text-input" id="instructorInput" />
    </div>
    <div class="col-md-3">
        <div class="green-text">Semester: *</div>
        <select class="text-input" id="semesterInput">
            <option value=""></option>
            <option value="Fall">Fall</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
        </select>
    </div>
    <div class="col-md-3">
        <div class="green-text">Year: *</div>
        <input type="number" class="text-input" id="yearInput" placeholder="YYYY" />
    </div>
    <div class="col-md-3">
        <div class="green-text">Campus: *</div>
        <select class="text-input" id="campusInput">
            <option value=""></option>
            <option value="Tampa">Tampa</option>
            <option value="St. Petersburg">St. Petersburg</option>
            <option value="Sarasota-Manatee">Sarasota-Manatee</option>
            <option value="Polytechnic">Polytechnic</option>
            <option value="Online">Online</option>
        </select>
    </div>
</div>

<div class="row entry-row">
    <input type="submit" value="Submit" id="submitBtn" class="btn-green-submit" onclick="SubmitCourse()"/>
</div>
<div class="green-text entry-row">* denotes required field</div>

@section scripts{
    
<script>
        var majorName = '';
        var title = '';
        var subject = '';
        var number = '';
        var sectNumber = '';
        var instructor = '';
        var semester = '';
        var year = '';
        var campus = '';

        var flag = false;
        var emptyField = false;
        var newMajor = false;

        $(document).on('ready', function () {
            $("#errorRow").hide();
        });

        function AssignVariables() {
            title = jQuery.trim($("#titleInput").val().trim());
            subject = jQuery.trim($("#subjectInput").val().trim());
            number = jQuery.trim($("#numberInput").val().trim());
            sectNumber = jQuery.trim($("#sectInput").val().trim());
            instructor = jQuery.trim($("#instructorInput").val().trim());
            semester = jQuery.trim($("#semesterInput").val().trim());
            year = jQuery.trim($("#yearInput").val().trim());
            campus = jQuery.trim($("#campusInput").val().trim());
        }

        function ValidateFields() {
            if (CheckMajor() == false) {
                flag = true;
            }

            if (!title) {
                emptyField = true;
                $("#titleInput").css('border-color', 'red');
            }
            if (!subject) {
                emptyField = true;
                $("#subjectInput").css('border-color', 'red');
            }
            if (!number) {
                emptyField = true;
                $("#numberInput").css('border-color', 'red');
            }
            if (!sectNumber) {
                emptyField = true;
                $("#sectInput").css('border-color', 'red');
            }
            if (!instructor) {
                emptyField = true;
                $("#instructorInput").css('border-color', 'red');
            }
            if (!semester) {
                emptyField = true;
                $("#semesterInput").css('border-color', 'red');
            }
            if (!year) {
                emptyField = true;
                $("#yearInput").css('border-color', 'red');
            }

            if (emptyField) {
                flag = true;
                $("#errorRow ul").append('<li> Required field is empty.</li>');
            }
        }

        //Check if the major is new or a pre-existing one, if pre-existing validate it is unique
        function CheckMajor() {
            //Check if both are filled out
            var selectedOption = jQuery.trim($("#selectedMajor option:selected").text());
            var enteredOption = jQuery.trim($("#newMajor").val());

            if (selectedOption.length == 0 && enteredOption.length == 0) {
                $("#errorRow ul").append('<li>A major must be selected or entered.</li>');
                $("#selectedMajor").css('border-color', 'red');
                $("#newMajor").css('border-color', 'red');
                return false;
            }
            if (selectedOption.length > 0 && enteredOption.length > 0) {
                $("#errorRow ul").append('<li>Both major fields contain a value, only one can contain a value.</li>');
                $("#selectedMajor").css('border-color', 'red');
                $("#newMajor").css('border-color', 'red');
                return false;
            }

            if (selectedOption.length > 0) {
                majorName = selectedOption;
                return true;
            }
            else {
                newMajor = true;
                majorName = enteredOption
                CheckUniqueMajor(majorName);
                return true;
            }
        }

        function CheckUniqueMajor(majorName) {
            $.ajax({
                type: "POST",
                url: "/NewCourse/VerifyUniqueMajor",
                data: '{ majorName: "' +  majorName  + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response === false) {
                        flag = true;
                        $("#errorRow ul").append('<li>Entered major already exists.</li>');
                        $("#newMajor").css('border-color', 'red');
                    }
                },
                error: function (response) {

                }
            });
        }

        function SubmitCourse() {
            flag = false;
            emptyField = false;
            newMajor = false;
            $('#errors').empty();

            var userLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
            if (!userLoggedIn) {
                $("#errorRow ul").append('<li>Looks like you are not signed in. Please sign in or register to create a course group.</li>');
                flag = true;
            }

            ResetBorders();
            AssignVariables();
            ValidateFields();

            if (flag == true) {
                $("#errorRow").show();
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/NewCourse/AddMajor",
                data: '{ majorName: "' + majorName + '", title: "' + title + '", subject: "' + subject + '", number: "' + number + '", ' +
                ' sectNumber: "' + sectNumber + '", instructor: "' + instructor + '", semester: "' + semester + '", year: "' + year + '", campus: "' + campus + '", newMajor: "' + newMajor + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    window.location.href = "../CourseList/ListMajors";
                },
                error: function (response) {
                    
                }
            });
        }

        function ResetBorders() {
            $("#selectedMajor").css('border-color', '');
            $("#newMajor").css('border-color', '');
            $("#titleInput").css('border-color', '');
            $("#subjectInput").css('border-color', '');
            $("#numberInput").css('border-color', '');
            $("#sectInput").css('border-color', '');
            $("#instructorInput").css('border-color', '');
            $("#semesterInput").css('border-color', '');
            $("#yearInput").css('border-color', '');
            $("#campusInput").css('border-color', '');
        }

</script>
    
    
    }




